body{
    background-color: #EEF2FF;
}
h3{
    color: #676FA3;
}
h1{
    color: #676FA3;
}
.ll{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 27px;
}
.img{
    border-radius: 100%;
    border: 5px solid white;
}
